
form input {
	width: 487px;
	height: 27px;
	line-height: 27px;
	text-indent: 10px;
	font-family: arial, sans-serif;
	font-size: 1em;
	color: #333;
	background: #fff;
	border: solid 1px #d9d9d9;
	border-top: solid 1px #c0c0c0;
	border-right: solid 1px #c0c0c0;
	border-left: solid 1px #c0c0c0;

}

.search {
	
	width: 38%;
	margin: 0 auto;
}

.google-search, .feeling-lucky{
	width: 125px;
	height: 38px;
	left: 482px;
	top: 390px;
	right: 607px;
	bottom: 428px;
	font: arial sans-serif;
	font-size: 13px;
	margin-top: 30px;


	
	display: inline-block;

}

.google-search {
	margin-left: 40%;
	margin-right: 10px;
}
.logo {
	text-align: center;
	margin-top: 15%;
	width: 100%;
}

#nav {
	float: right;
	margin-top: -175px;
	margin-right: 8px;
}

.gmail, .images{
	display: inline;
	font: arial sans-serif;
	padding-right: 10px;
	color: grey;
}

.sign-in{
	width: 69px;
	height: 27px;
	border-radius: 3px;
	color: white;
	background-color: #0266C8;
	border-color: #0266C8;
}

.left{
float:left;
display:inline-block;
list-style-type:none;
font-family:Arial;
font-size:13px;
margin-left:20px;
margin-top:5px;
}

.right{
float:right;
display:inline-block;
list-style-type: none;
font-family:Arial;
font-size:13px;
margin-right:20px;
margin-top:5px;
border-top:1px solid #EBEBEB;
float:
}

#footer {
	margin-top: 150px;
	background-color: #f1f1f1;
	color: grey;


}
